<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <title>Séries</title>
    </head>

    <body>
        <h1>Testou</h1>
        <div>
            {# Crée une variable #}
            {% set name = "Virginie" %}
            <h2> {{ name }} </h2>

            {# Crée un tableau #}
            {% set colors = ["orange", "brown", "turquoise", "blue"] %}
            {% for color in colors %}
                <div style="background-color:{{ color }}">{{ color }}</div>
            {% endfor %}

            {# Crée un objet #}
            {% set book = {
                title: 'Amelia Earhart',
                year: 2010,
                author: "Jennifer Lesieur"
            } %}
            <h3> {{ book.author }} </h3>
            <div>
                {% for key, val in book %}
                    <div>{{ key }} : {{ val }}</div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>